<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
    MyBatis中核心配置文件中的标签要按照指定顺序配置：
    properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,
    reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?
    -->

    <settings>
        <!--将下划线映射为驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <plugins>
        <!--配置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <!--引入mybatis的映射文件-->
    <mappers>
        <!--<mapper resource=""/>-->
        <!--
        以包的方式引入映射文件，但是必须满足两个条件
        1、mapper接口和映射文件所在的包一致
        2、mapper接口的名字和映射文件的名字必须一致
        -->
        <package name="classpath:com.example.system.mapper.*"/>
    </mappers>
</configuration>